:root {
    --articleTranslateY: 0;
    --articleTranslateDuration: 0s;
}

.articles {
    padding: 0 0 40px;
    min-height: 100vh;
    @include tablet {
        padding: 0 0 90px;
    }
}

.article {
    box-shadow: 0 0 0 0 $cBlue;
    background-color: $cBlue;
    padding: 20px 0 40px;
    margin: 0 0 10px;
    position: relative;
    box-sizing: border-box;
    
    @include tablet {
        padding: 45px 0 50px;
    }

    &.viewed {
        opacity: .5;
    }
    &.opened {
        will-change: transform;
        opacity: 1;
        margin-bottom: 20px;
        transform: translateY(var(--articleTranslateY));
    }
    &.closing {
        opacity: 0;
    }


    .article-opening & {
        opacity: 0;
    }
    .article-opened & {
        display: none;

        &.closing {
            display: block;
        }
    }
    .article-opening &,
    .article-opened & {
        transition: .5s $easing padding .5s,
                    .5s $easing box-shadow ,
                    .5s linear margin .2s,
                    var(--articleTranslateDuration) $easing transform,
                    .2s $easing opacity;

        &.opened {
            display: block;
            opacity: 1;
        }
    }
    .article-opened & {
        &.opened {
            box-shadow: 0 -30px 0 0 $cBlue;
            padding-bottom: 80px;
            margin-bottom: 10px;
            @include tablet {
                box-shadow: 0 -35px 0 0 $cBlue;
                padding-bottom: 100px;
            }
        }
    }
    .article-opened &.opened + & {
        display: block;
        animation: 1s linear showNextArticle forwards;
        opacity: 0;
    }

    &_header {
        cursor: pointer;
        position: relative;
        padding: 0 $indent;
        @include tablet {
            display: flex;
            padding: 0 70px;
        }
    }
    &_header-info {
        @include tablet {
            display: flex;
            gap: 56px;
            flex-shrink: 0;
        }
    }
    &_intro {
        display: none;
        @include tablet {
            display: block;
            max-width: 320px;
            flex-shrink: 0;
            transition: .3s $easing opacity;
        }

        .opened & {
            opacity: 0;
        }
    }
    &_title {
        display: inline-block;
        margin: 0 0 16px;
        width: 92%;
        @include tablet {
            position: relative;
            margin: 0 50px 0 0;
            width: 80%;
        }

        .opened & {
            margin-bottom: 0;
            @include tablet {
                margin-bottom: 100px;
            }
        }
        .article-opened &,
        .article-opening & {
            transition: .2s $easing margin .5s;
        }
    }
    &_subtitle {
        font-size: 24px;
        padding: 0 0 24px;
        margin: 0 0 50px -64px;
        border-bottom: 1px solid transparent;
        transition: .2s $easing border;
        @include tablet {
            font-size: 30px;
            margin-bottom: 100px;
            margin-left: -20vw;
        }

        .opened & {
            border-bottom-color: #E2E2E2;
        }
    }
    &_duration {
        display: inline-block;
        white-space: nowrap;
        pointer-events: none;
        position: absolute;
        left: $indent;
        top: 100%;
        @include tablet {
            position: static;
        }

        .opened & {
            opacity: 0;
        }

        .article-opened &,
        .article-opening & {
            transition: .2s $easing opacity .5s;
        }
    }
    &_number {
        font-size: 18px;
        position: absolute;
        right: $indent;
        top: 0;
        transition: .2s $easing top;
        @include tablet {
            font-size: 21px;
            position: static;
            vertical-align: top;
            position: relative;
            top: 10px;
            right: 4px;
        }

        .opened & {
            top: 10px;
        }
    }
    &_content {
        padding: 0 $indent 0 80px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        @include tablet {
            padding: 0 230px 0 45%;
        }

        .opened & {
            padding: 50px $indent 0 80px;
            max-height: 5000px;
            opacity: 1;
            @include tablet {
                padding: 50px 50px 0 45%;
            }
            @include desktop {
                padding: 50px 230px 0 45%;
            }
        }
        .article-opened &,
        .article-opening & {
            transition: .6s $easing padding .5s,
                        .6s $easing max-height .5s,
                        .6s $easing opacity .7s;
        }

        .heading-1 {
            font-size: 17vw;
            @include tablet {
                font-size: 13vw;
                margin-bottom: 50px;
            }
            @include desktop {
                font-size: 200px;
            }
        }
    }
    &_next {
        position: absolute;
        left: $indent;
        bottom: 30px;
        font-size: 18px;
        padding: 0 0 0 40px;
        background: url(#{$img}/arrow-down.svg) no-repeat left center / 14px auto;
        width: auto;
        visibility: hidden;
        transition: .5s visibility 1s;
        @include tablet {
            left: 70px;
            bottom: 50px;
        }

        .opened & {
            visibility: visible;
        }
        .article-closing & {
            display: none;
        }
    }

    section {
        margin: 0 0 50px;
        position: relative;
        @include tablet {
            margin-bottom: 100px;
        }
    }
    h2 {
        @include tablet {
            @include heading-1;
        }
    }
    img {
        width: 110%;
        max-width: 110%;
        margin: 50px 0 0 -80px;
        @include tablet {
            position: absolute;
            top: 100%;
            right: calc(100% + 100px);
            width: 100%;
            margin: 0;
        }
    }
}

@keyframes showNextArticle {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
