.content {
    padding: 50px 0;
    position: relative;
    transition: .3s $easing padding,
                .5s $easing opacity 2s;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid rgba(#E2E2E2, .2);
        transition: .3s $easing opacity;
        @include tablet {
            left: 70px;
            right: 70px;
        }
    }

    .content-hidden & {
        opacity: 0;
    }
    .article-opened & {
        //padding-top: 0;

        &::before {
            opacity: 0;
        }
    }
}
