.fade {
    background: rgba($cDark, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    pointer-events: none;
    z-index: 10;
    transition: .2s $easing opacity;

    .popup-opened & {
        opacity: 1;
        pointer-events: all;
    }
}
