.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $indent $indent 50px;
    transition: .4s $easing opacity; 
    @include tablet {
        padding: $indent 70px 50px;
    }

    .content-hidden & {
        opacity: 0;
    }
    .article-opening & {
        opacity: 0;
    }
    .article-opened & {
        opacity: 1;
    }

    &_link {
        font-size: 16px;
    }
}
