$img: "src/img";

$color: #fff;
$cBlue: #2A60FE;
$cDark: #151515;

$font-family: 'Nimbus Sans', sans-serif, Helvetica;

$font-size: 18px;
$font-size__big: 21px;

$indent: 16px;

// easings
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easeInOutCirc;
